@use "../../global" as *;

.portfolio {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;

	h1 {
		font-size: 50px;

		@include mobile {
			font-size: 20px;
		}
	}

	// ul {
	// 	margin: 10px;
	// 	padding: 0;
	// 	list-style: none;
	// 	display: flex;

	//    @include mobile{
	//       margin: 10px 0;
	//       flex-wrap: wrap;
	//       justify-content: center;
	//    }

	// }

	.container {
		// for images
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		@include mobile {
			flex-direction: column;
			height: 100%;
		}

		.item {
			width: 320px;
			height: 250px;
			border-radius: 20px;
			border: 1px solid rgb(240, 239, 239);
			margin: 10px 20px;
			align-items: center;
			justify-content: center;
			color: white;
			position: relative;
			transition: all .5s ease;
			cursor: pointer;

			@include mobile {
				width: 200px;
				height: 170px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: fill;
				z-index: 0; // will mean that a tag will be behind the image
			}

				a {
					opacity: 0;
					position: absolute;
					inset: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 30px;
					color: white;
					text-decoration: none;
					text-align: center;
					z-index: 2;
				}

			&:hover {
				background-color: $mainColor;
				img {
					opacity: 0.2;
					z-index: 1;
				}
				a {
					opacity: 1;
				}
			}
		}
	}
}
